.home {
  position: relative;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: rgba(15, 12, 12, 0.1);
  color: rgb(253, 187, 18);
  overflow: hidden;

  .home__icons {
    display: flex;
    justify-content: center;
  }

  .contact-icon {
    z-index: 9999;
    font-size: 60px;
    color: rgb(230, 255, 1);
  }

  &__text-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 150px;

    h1 {
      color: rgb(253, 187, 18);
      margin: 0px;
      font-weight: 500;
      font-size: 8rem;
      line-height: 10rem;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      animation: typingEffectAnimation 2.5s steps(20, end);
    }
  }

  &__contact-me {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    button {
      cursor: pointer;
      padding: 10px 70px;
      font-size: 2rem;
      background: transparent;
      color: rgb(253, 187, 18);
      border: 1.5px solid rgb(253, 187, 18);
      border-radius: 4px;
      font-weight: 500;
      margin-bottom: 30px;

      &:hover {
        background: rgb(253, 187, 18);
        color: #000000;
      }
    }
  }
}

.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center 30%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.download-button {
  cursor: pointer;
  padding: 10px 70px;
  font-size: 2rem;
  background: transparent;
  color: rgb(253, 187, 18);
  border: 1.5px solid rgb(253, 187, 18);
  border-radius: 4px;
  font-weight: 500;

  &:hover {
    background: rgb(253, 187, 18);
    color: #000000;
  }
}

@media only screen and (max-width: 550px) {
  .home__text-wrapper h1 {
    font-size: 3rem;
    line-height: 5rem;
  }

  .background-image {
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
  .home__text-wrapper h1 {
    font-size: 4rem;
    line-height: 6rem;
  }

  .background-image {
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
  .home__text-wrapper h1 {
    font-size: 6rem;
    line-height: 8rem;
  }

  .background-image {
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

@keyframes typingEffectAnimation {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.h3im span{
  position: relative;
display: inline-block;
color: transparent;
-webkit-text-stroke: .7px #7cf03d;
animation: display-text 16s linear infinite;
animation-delay:calc(-4s *var(--i)) ;
}
@keyframes display-text {
  25%,
  100%{
    display: none;
  }
  
}
.h3im span::before{
content: attr(data-text);
position: absolute;
width: 0;
border-right: 2px solid #7cf03d;
color: #7cf03d;
white-space: nowrap;
overflow: hidden;
animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%,100%{
    width: 0;
  }
  70%,90%{
    width: 100%;
  }
  
}