.footer__col2 a,
.footer__col3 a,
.footer__col4 a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer__col2 a:hover,
.footer__col3 a:hover,
.footer__col4 a:hover {
  color: #00ff99;
  transform: translateX(5px);
}

.footer__col2 ul,
.footer__col3 ul,
.footer__col4 ul {
  list-style: none;
  padding: 0;
}

.container {
  border-radius: 30px;
}

.cr1,
.cr2,
.cr3 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ccc;
  transition: color 0.3s ease;
}

.cr1:hover,
.cr2:hover,
.cr3:hover {
  color: #00ff99;
}

.home__icons {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.contact-icon {
  font-size: 50px;
  color: #00ff99;
  margin-right: 20px;
  padding: 5px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icon:hover {
  transform: scale(1.2);
  color: #00e187;
}

.footer__col1 {
  margin-left: 50px;
}

.copyright {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 576px) {
  .container {
    margin-left: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .footer__col1 {
    margin-left: 0;
  }

  .contact-icon {
    font-size: 40px;
    margin-right: 10px;
  }
}